* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.chessboard {
    width: 100%;
    margin-top: 50px;
}

.chess {
    height: 800px;
    width: 800px;
    margin: auto;
}

.white {
    height: 100px;
    width: 100px;
    background-color: wheat;
    border: 1px solid black;
    float: left;
}

.white img {
    margin: 15px 15px;
}

.black {
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 1px solid black;
    float: left;
}

.black img {
    margin: 15px 15px;
}